---
import "../common/global.css";
import "../style.css";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/dodge-game/images/favicon.svg" />
		<title>Dodge Game</title>
		<script src="../main.ts"></script>
	</head>
	<body>
    <h1>Dodge Game</h1>
		<canvas id="canvas"></canvas>
    <p>操作方法：矢印キーで移動、Shiftキーで低速モード</p>
	</body>
</html>
