@import "tailwindcss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

#canvas {
  max-width: 600px;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid #eee;
}